#gameboard {
    width: 320px;
    height: 320px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    background-color: bisque;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.beige {
    background-color: rgb(195, 159, 115);
}

.red {
    background-color: rgb(0, 84, 0);
}

.black {
    fill: black
}

.white {
    fill: white
}